@charset "UTF-8";

/*dispositivo deitado*/

/* html{
    background-color: rgb(187, 112, 25);
}
h1{
    color: rgb(68, 158, 103);
    text-shadow: 1px 1px 1px rgb(255, 0, 242);
}
h1::after{
    content: 'A tela está deitada (modo landscape)';
    color: currentColor;
} */

body{
    background: url(../imagens/cev-landscape.jpg);
    background-position: left bottom;
    background-repeat: no-repeat;
}