@charset "UTF-8";

/* declarações gerais */
@media all{
    *{
        margin: 0;
        padding: 0;
    }
    html, body{
        width: 100vw;
        height: 100vh;
        font-family: Arial, Helvetica, sans-serif;
        background-color: aquamarine;
        background-size: contain;
    }
    h1{
        color: gray;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.726);
        padding: 10px;
    }
}
/* declarações retrato */
@media screen and (orientation: portrait) {
    body{
        background: url(../imagens/cev-portrait.jpg);
        background-repeat: no-repeat;
        background-position: center bottom;
    }
}
/* declarações paisagem */
@media screen and (orientation: landscape){
    body{
        background: url(../imagens/cev-landscape.jpg);
        background-position: left bottom;
        background-repeat: no-repeat;
    }
}