@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    width: 100vw;
    background-image: linear-gradient(to top right,#29B4A2 ,#134758 ,#134578 , #29B4A2,#155578);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
header{
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    max-width: 1150px;
}
header img{
    width: 130px;
}
header a{
    letter-spacing: 1px;
    vertical-align: top;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.459);
    border-radius: 30px;
    background-image: linear-gradient(to right, rgb(255, 123, 0),rgb(255, 208, 0));
    padding: 10px 10px 5px 15px;
    color: rgb(40, 38, 126);
}
header a:hover{
    background-image: linear-gradient(to right, rgb(255, 123, 0),rgb(214, 178, 16));
}
main{
    margin: 0 auto;
    max-width: 1150px;
    height: 930px;
    background-color: rgba(0, 0, 0, 0);
}
section{
    max-width: 1150px;
}
.section1{
    height: 600px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0);
    padding: 2px;
}
.letras1>h1{
    color: white;
    font-size: 2.4em;
    line-height: 49px;
}
.letras1 h2{
    color: white;
    font-size: 2em;
    line-height: 45px;
}
.letras1 p{
    color: white;
    font-weight: 400;
}
.letras2>.lett{
    line-height: 1.7;
    font-size: larger;
    color: white;
}
.lett2{
    font-size: 2em;
    font-weight: 700;
    color: white;
}
.trave{
    position: relative;
    left: -135px;
    display: inline;
    z-index: 2;
}
.letras2 h1{
    font-size: 5em;
    color: white;
    letter-spacing: 2px;
}
.letras2 p{
    color: white;
    font-weight: bolder;
}
.letras2 input{
    margin-top: 40px;
    width: 280px;
    padding: 10px;
}
.letras2>.proseguir{
    margin-top: 40px;
    background-image: linear-gradient(to right, rgb(255, 123, 0),rgb(255, 208, 0));
    padding: 10px 10px 5px 15px;
    color: rgb(49, 48, 134);
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.459);
    width: 246px;
    padding: 10px 28px;
    border-radius: 20px;
    text-align: center;
}
.letras2>.proseguir>a{
    text-decoration: none;
}
.proseguir:hover{
    background-image: linear-gradient(to right, rgb(255, 136, 24),rgb(214, 178, 16));
}
.iconfundo{
    width: 650px;
    height: 510px;
    z-index: 2;
    position: relative;
    top: -530px;
    left: 520px;
}
.article1{
    width: 550px;
    max-width: 1150px;
    color: white;
    position: relative;
    top: -445px;
    background-color: rgba(55, 21, 87, 0);
}
.lett3{
    display: block;
    padding-bottom: 40px;
    color: white;
}
.boxes{
    display: flex;
    gap: 20px;
}
.box1{
    border: 1px solid white;
    width: 160px;
    height: 180px;
    border-radius: 35px;
    text-align: center;
    padding-top: 20px;
}
.box1>h1{
    line-height: 2em;
}
.box1>p{
    line-height: 1.3em;
}
.box2{
    border: 1px solid white;
    width: 160px;
    height: 180px;
    border-radius: 35px;
    text-align: center;
    padding-top: 25px;
}
.box2>h1{
    line-height: 2.6em;
}
.box2>p{
    line-height: 1.3em;
}
.box3{
    border: 1px solid white;
    width: 160px;
    height: 180px;
    border-radius: 35px;
    text-align: center;
    padding-top: 20px;
}
.box3>h1{
    line-height: 2em;
}
.box3>p{
    line-height: 1.3em;
}
.article2{
    position: relative;
    left: 550px;
    top: -715px;
}
.article2>h1{
    color: white;
}
.article3{
    width: 550px;
    height: 300px;
    position: relative;
    left: 550px;
    top: -720px;
    background-color: rgba(151, 85, 85, 0);
}
.box4{
    position: relative;
    left: 15px;
    height: 200px;
    margin: 20px;
    background-color: white;
    border-radius: 30px;
    padding: 14px;
}
.box4>.nome{
    font-size: 1.3em;
    font-weight: bold;
    padding: 9px;
    vertical-align: 14px;
}
.cinco{
    font-weight: bold;
    font-size: 2em;
    line-height: 2em;
}
.box4>p{
    text-indent: 2px;
    padding-right: 60px;
}
.article4{
    background-color: white;
    height: 200px;
}
.article4>h2{
    font-weight: bold;
    letter-spacing: 0.5px;
    display: flex;
    position: relative;
    top: 25px;
    left: 340px;
    text-transform: initial;
    font-size: 15px;
}
.article4>.logofot{
    display: flex;
    position: relative;
    top: 55px;
    left: 340px;
}
.logofot>img{
    width: 230px;
}
.article4>h3{
    font-weight: bolder;
    display: flex;
    position: relative;
    top: -65px;
    left: 730px;
}
.article4>h3>a{
    color: black;
}
.article4>p{
    display: flex;
    position: relative;
    top: -50px;
    left: 730px;
}
.goog{
    display: flex;
    position: relative;
    top: -79px;
    left: 890px;
}
.app{
    display: flex;
    position: relative;
    top: -35px;
    left: 730px;
}
footer{
    padding-top: 10px;
    padding-bottom: 20px;
    color: white;
    font-size: 0.6em;
    letter-spacing: 1px;
    display: flex;
    max-width: 100vw;
    height: 30px;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}
